<!DOCTYPE html>
<html>
<head>
{% block headercomment %}{% endblock %}
	<title>{%block header %}{%endblock%} | LCOGT</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="DC.Title" content="Las Cumbres Observatory Global Telescope Network" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=2.0, user-scalable=yes" />
	<link rel="shortcut icon" href="http://lcogt.net/sites/default/themes/lcogt/favicon.ico" type="image/x-icon" />
	<link rel="stylesheet" href="http://lcogt.net/sites/default/themes/lcogt/css/style.css" type="text/css" />
	<link rel="stylesheet" href="{{STATIC_URL}}css/papers.css" type="text/css" />
	{% block css-content %}{% endblock %}{% block feeds %}{% endblock %}
    {% block script-content %}{% endblock %}
	<script type="text/javascript">
	<!--
		var _gaq = _gaq || [];
		_gaq.push(['_setAccount', 'UA-2087713-1']);
		_gaq.push(['_trackPageview']);
		
		(function() {
			var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
			ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
			var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
		})();
		// -->
	</script>
</head>
<body class="{% block body-class %}network{%endblock%}">

	<div id="page-wrapper">
		<div id="page">
			<div id="lcogt-bar">
				{% block login %}<div id="login" class="block"></div>
{% endblock %}
				<div>
					<a href="http://lcogt.net/" title="LCOGT Home" rel="home"><span class="l">L</span><span class="wide">as </span><span class="c">C</span><span class="wide">umbres </span><span class="o">O</span><span class="wide">bservatory </span><span class="g">G</span><span class="wide">lobal </span><span class="t">T</span><span class="wide">elescope Network</span></a>
				</div>
			</div>

			<div id="screen">
				<div id="container">
					<div id="header">
						{% block logo-content %}<div id="logo"><a href="http://lcogt.net/" title="Home" rel="home"><img src="http://lcogt.net/sites/default/themes/lcogt/logo.png" alt="Home" id="logo-image" /></a></div>{% endblock %}
						<div id="site-name">
							<strong><a href="http://lcogt.net/" title="Home" rel="home"><span>Las Cumbres Observatory <em>Global Telescope Network</em></span></a></strong>
						</div>
					</div>
			
					<div id="main">
						{% block navigation %}<div class="row rowfull nogaps graybg">
							<nav id="navigation" role="navigation">
								<h2 class="element-invisible">Main menu</h2>
								<ul id="main-menu" class="block menu">
									<li class="onecol home active"><a href="http://lcogt.net/" class="active">Home</a></li>
									<li class="onecol network"><a href="http://lcogt.net/observatory" title="Information and live status of the global telescope network.">Observatory</a></li>
									<li class="onecol science"><a href="http://lcogt.net/science">Science</a></li>
									<li class="onecol education"><a href="http://lcogt.net/education">Education</a></li>
									<li class="twocol search lastcol">
										<form action="http://lcogt.net/search/" method="get" id="search-block-form" accept-charset="UTF-8"><div><div class="container-inline">
											<h2 class="element-invisible">Search form</h2>
											<label class="element-invisible" for="edit-search-block-form--2">Search </label>
											<input title="Enter the terms you wish to search for." class="search form-text" type="text" id="q" name="q" placeholder="Search LCOGT..." size="15" maxlength="128" /><input title="Search" class="btn form-submit" type="submit" id="edit-submit" name="op" value="" />
										</form>
									</li>
								</ul>
							</nav>
						</div>{% endblock %}

						{% block main-content %}{% endblock %}
					</div>

					<div class="clear-block"></div>
					<div id="footer">
						Copyright &copy; 2014 Las Cumbres Observatory Global Telescope Network. All rights reserved.
						<ul class="menu">
							<li class="first leaf"><a title="Contact LCOGT" href="http://lcogt.net/contact">Contact</a></li>
							<li class="leaf"><a href="http://lcogt.net/images">Image Galleries</a></li>
							<li class="leaf"><a title="A full list of all LCOGT staff" href="http://lcogt.net/people">Staff list</a></li>
							<li class="last leaf"><a href="http://lcogt.net/glossary">Glossary</a></li>
						</ul>
						<a href="http://twitter.com/lcogt"><img title="Follow us on Twitter" alt="Twitter" src="http://lcogt.net/sites/default/themes/lcogt/images/twitter.png"></a> 
						<a href="http://facebook.com/lcogt"><img title="Connect with us on Facebook" alt="Facebook" src="http://lcogt.net/sites/default/themes/lcogt/images/facebook.png"></a> 
						<a href="/blog/feed"><img title="Subscribe to our news blog" alt="RSS Feed" src="http://lcogt.net/sites/default/themes/lcogt/images/feed.png"></a>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>
